extends ../partials/head
block content
  .all-wrapper
    .all-header
      a.all-header-logo-wrapper(href='/' + (query_lang ? '?lang = ' + query_lang : ''))
        img.all-header-logo(src="img/logo/cryptist_logo.svg", alt="Cryptist Logo") 
      .all-header-pages-wrapper 
        .all-header-pages
          .all-header-pages-text#header-pastEvent-button Past Events  
          .all-header-pages-text#header-speakers-button Speakers   
          .all-header-pages-text#header-sponsors-button Sponsors   
          .all-header-pages-text#header-schedule-button Schedule
          .all-header-pages-text#header-location-button Location
      .all-header-social-button
        .all-header-social-button-image
          a(href="https://x.com/cryptistanbul" target='_blank')
            img.all-header-social-twitter(src="img/socials/x_logo.svg", alt="Cryptist X/Twitter account")
          a(href="https://www.youtube.com/@cryptist5348" target='_blank')
            img.all-header-social-youtube(src="img/socials/youtube_logo.svg", alt="Cryptist X/Twitter account")
      svg.all-header-mobile-menu-button-icon.display-none(width="32" height="32" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
        rect(x="2" y="6" width="22" height="2" fill="#F4F4F4")
        rect(x="2" y="22" width="22" height="2" fill="#F4F4F4")
        rect(x="2" y="14" width="22" height="2" fill="#F4F4F4")
      .all-header-mobile-menu.display-none
        svg.all-header-menu-button-icon(viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M22.5 8.8125L21.1875 7.5L15 13.6875L8.8125 7.5L7.5 8.8125L13.6875 15L7.5 21.1875L8.8125 22.5L15 16.3125L21.1875 22.5L22.5 21.1875L16.3125 15L22.5 8.8125Z" fill="#F4F4F4")
        .all-header-mobile-menu-sections-wrapper
          .all-header-mobile-menu-each-section-button#header-pastEvent-button-mobile Past Events
          .all-header-mobile-menu-each-section-button#header-speakers-button-mobile Speakers
          .all-header-mobile-menu-each-section-button#header-sponsors-button-mobile Sponsors
          .all-header-mobile-menu-each-section-button#header-schedule-button-mobile Schedule
          .all-header-mobile-menu-each-section-button#header-location-button-mobile Location
    .all-content
      .all-content-zkEvent-wrapper
        .all-content-zkEvent-text-wrapper 
          p.all-content-zkEvent-subtitle Istanbul | November 11th, 2023 
          .all-content-zkEvent-title
            span A 
            span.all-content-zkEvent-title-blue Zero-Knowledge 
            p Event in Istanbul
          p.all-content-zkEvent-subtext Cryptİst is an annual, day-long, Zero-Knowledge community event in Istanbul to learn, connect, and share amongst the Turkish ZK community.
          a.all-content-small-button-wrapper(small-button href='https://lu.ma/cryptist' target='_blank') 
            .all-content-small-button-circle-left(small-button-left-circle)
              svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
            .all-content-small-button-circle-right(small-button-right-circle)
              svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-small-main-button-wrapper(small-button-main-rectangle)
              button.all-content-small-main-button
                .all-content-small-button-rectangle
                .all-content-small-button-text Get Tickets
        .all-content-zkEvent-lines-wrapper
          .all-content-zkEvent-line#line-1
          .all-content-zkEvent-line#line-2
          .all-content-zkEvent-line#line-3
          .all-content-zkEvent-line#line-4
          .all-content-zkEvent-line#line-5
          .all-content-zkEvent-line#line-6
          .all-content-zkEvent-line#line-7
          .all-content-zkEvent-line#line-8
          .all-content-zkEvent-line#line-9
          .all-content-zkEvent-line#line-10
          .all-content-zkEvent-line#line-11
          .all-content-zkEvent-line#line-12
          .all-content-zkEvent-line#line-13
          .all-content-zkEvent-line#line-14
          .all-content-zkEvent-line#line-15
          .all-content-zkEvent-line#line-16
          .all-content-zkEvent-line#line-17
          .all-content-zkEvent-line#line-18
      .all-content-whyCryptist-wrapper  
        .all-content-whyCryptist-text-wrapper
          p.all-content-whyCryptist-title Why Cryptİst?
          p.all-content-whyCryptist-paragraph CryptIst invites the most successful young developers of the Blockchain ecosystem to think and produce on zero-knowledge technology.
          p.all-content-whyCryptist-subtext There is no better place to explore Zero-Knowledge technology with leading international developers than CryptIst. Bringing Turkey's most talented developers together with global friends, CryptIst aims to make Istanbul a zero-knowledge developer center.
        .all-content-whyCryptist-image-wrapper  
          .all-content-whyCryptist-circle
          .all-content-whyCryptist-vector-wrapper
            img.all-content-whyCryptist-vector-left(src="img/cryptist/left.png" alt="")
            img.all-content-whyCryptist-vector-right(src="img/cryptist/right.png" alt="")
      .all-content-pastEvent-wrapper 
        .all-content-pastEvent-text-wrapper
          .all-content-pastEvent-text-1 
            span Past Event:
            span.all-content-pastEvent-text-1-blue  Cryptİst 
            span 2022 and 
            span.all-content-pastEvent-text-1-blue Moda Palas 
          .all-content-pastEvent-text-2 There is a permanent ZK Community in Istanbul! Did you know that?
          .all-content-pastEvent-text-3 
            span.all-content-pastEvent-text-3-bold CryptIst 2022 
            span hosted many international names who developed Zero-knowledge Proof technology such as Emre Tekişalp from O1 labs, Toghrul Maharramov from Scroll, Anthony Diprinzio from Aleo, Kaan Uzdoğan from Ethereum Foundation, and many more. Cryptİst is an annual summit. Istanbul's Zero-Knowledge Community is always in touch with the monthly 
            span.all-content-pastEvent-text-3-bold "Moda Palas" 
            span gatherings. 
          img.all-content-pastEvent-moda-palas-image(src="img/cryptist/moda-palas.png", alt="Moda Palas Image")
          a.all-content-small-button-wrapper(href='https://events.node101.io/moda-palas' target='_blank') 
            .all-content-small-button-circle-left
              svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
            .all-content-small-button-circle-right
              svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-small-main-button-wrapper
              button.all-content-small-main-button
                .all-content-small-button-rectangle
                .all-content-small-button-text Moda Palas
        .all-content-pastEvent-image-wrapper
          .all-content-pastEvent-spiral-wrapper 
            img.all-content-pastEvent-spiral(src="img/slide/slide-background-vector.png", alt="")
          .all-content-pastEvent-slide-container(data-carousel)
            button.all-content-pastEvent-slide-button-wrapper.all-content-pastEvent-slide-button-left(data-carousel-button-left)
              svg.all-content-pastEvent-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            ul.all-content-pastEvent-slide-image-wrapper(data-slides)
              li.all-content-pastEvent-slide-image(data-active)
                img.slide-image(src="img/slide/slide-1.png", alt="Cryptist 2022")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-2.png", alt="Moda Palas 2023")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-3.png", alt="Cryptist 2022")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-4.png", alt="Cryptist 2022")
              li.all-content-pastEvent-slide-image
                img.slide-image(src="img/slide/slide-5.png", alt="Moda Palas 2023")
            button.all-content-pastEvent-slide-button-wrapper.all-content-pastEvent-slide-button-right(data-carousel-button-right)
              svg.all-content-pastEvent-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-pastEvent-slide-text Cryptist 2022
      .all-content-speakers-wrapper
        p.all-content-speakers-title Speakers
        .all-content-speakers-categories-wrapper
          .all-content-speakers-each-category.all-content-speakers-each-category-active#main-speakers Main Stage
          .all-content-speakers-each-category#workshops-speakers Aleo Hacker Lounge
        .all-content-speakers-card-wrapper
          .all-content-speakers-card-container#main-speakers-container
            each speaker in speakers
              .all-content-speakers-card
                img.all-content-speakers-card-glow(src=`img/glow/glow-${speaker.color}.png`, alt=`Background Glow ${speaker.color}`)
                img.all-content-speakers-card-image(src=`img/speakers/${speaker.image}`, alt=`${speaker.name}, ${speaker.company} image`)
                .all-content-speakers-card-info-wrap
                  p.all-content-speakers-card-name-company(class=speaker.color) #{speaker.name}, #{speaker.company}
                  if speaker.title
                    p.all-content-speakers-card-title "#{speaker.title}"
                  .all-content-speakers-card-socials
                    if speaker.linkedin
                      a(href=speaker.linkedin target='_blank')
                        img.all-content-speakers-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                    if speaker.twitter
                      a(href=speaker.twitter target='_blank')
                        img.all-content-speakers-card-twitter(src="img/socials/x_logo.svg", alt="")
          .all-content-speakers-card-container.display-none#workshops-speakers-container
            each workshop in workshops
              .all-content-speakers-card
                img.all-content-speakers-card-glow(src=`img/glow/glow-${workshop.color}.png`, alt=`Background Glow ${workshop.color}`)
                img.all-content-speakers-card-image(src=`img/speakers/${workshop.image}`, alt=`${workshop.name}, ${workshop.company} image`)
                .all-content-speakers-card-info-wrap
                  p.all-content-speakers-card-name-company(class=workshop.color style='color: var(--text-color-turquoise);') #{workshop.name}, #{workshop.company}
                  p.all-content-speakers-card-title "#{workshop.title}"
                  .all-content-speakers-card-socials
                    if workshop.linkedin
                      a(href=workshop.linkedin target='_blank')
                        img.all-content-speakers-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                    if workshop.twitter
                      a(href=workshop.twitter target='_blank')
                        img.all-content-speakers-card-twitter(src="img/socials/x_logo.svg", alt="")
      .all-content-sponsors-wrapper
        .all-content-sponsors-image-wrapper
          img.all-content-sponsors-image(src="img/sponsors/vector.png", alt="")
        .all-content-sponsors-upper-wrapper
          .all-content-sponsors-text-wrapper
            p.all-content-sponsors-text-1 Would you like to be a sponsor to Cryptİst? 
            p.all-content-sponsors-text-2 Reach us!
            .all-content-sponsors-button-wrapper
              a.all-content-large-button-wrapper(href='mailto:cryptist@gmail.com')  
                .all-content-large-button-circle-left
                  svg.all-content-large-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
                .all-content-large-button-circle-right
                  svg.all-content-large-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
                .all-content-large-main-button-wrapper
                  button.all-content-large-main-button
                    .all-content-large-button-rectangle
                    .all-content-large-button-text cryptistanbul@gmail.com
              p.all-content-sponsors-text-3 or
              a.all-content-small-button-circle-right(href='https://t.me/+GUgXyfYPg_s0NGVk' target='_blank')
                svg.all-content-small-button-circle-telegram-icon(width="25px" height="25px" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg"  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;")
                    path(d="M18.384,22.779c0.322,0.228 0.737,0.285 1.107,0.145c0.37,-0.141 0.642,-0.457 0.724,-0.84c0.869,-4.084 2.977,-14.421 3.768,-18.136c0.06,-0.28 -0.04,-0.571 -0.26,-0.758c-0.22,-0.187 -0.525,-0.241 -0.797,-0.14c-4.193,1.552 -17.106,6.397 -22.384,8.35c-0.335,0.124 -0.553,0.446 -0.542,0.799c0.012,0.354 0.25,0.661 0.593,0.764c2.367,0.708 5.474,1.693 5.474,1.693c0,0 1.452,4.385 2.209,6.615c0.095,0.28 0.314,0.5 0.603,0.576c0.288,0.075 0.596,-0.004 0.811,-0.207c1.216,-1.148 3.096,-2.923 3.096,-2.923c0,0 3.572,2.619 5.598,4.062Zm-11.01,-8.677l1.679,5.538l0.373,-3.507c0,0 6.487,-5.851 10.185,-9.186c0.108,-0.098 0.123,-0.262 0.033,-0.377c-0.089,-0.115 -0.253,-0.142 -0.376,-0.064c-4.286,2.737 -11.894,7.596 -11.894,7.596Z")
        .all-content-sponsors-title Sponsors
        .all-content-sponsors-card-wrapper
          .all-content-sponsors-card-container(style='padding-bottom: 0;')
            each sponsor in sponsors.lead
              .all-content-sponsors-card
                a(href=sponsor.website target='_blank')
                  img.all-content-sponsors-card-image(src=`img/sponsors/${sponsor.image}`, alt=`${sponsor.name} logo`)
                .all-content-sponsors-info-wrapper 
                  p.all-content-sponsors-card-project-title #{sponsor.name}
                  .all-content-sponsors-card-socials
                    a(href=sponsor.linkedin target='_blank')
                      img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                    a(href=sponsor.twitter target='_blank')
                      img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
                p.all-content-sponsor-type #{sponsor.type}
        .all-content-sponsors-card-wrapper
          .all-content-sponsors-card-container
            each sponsor in sponsors.platinum
              .all-content-sponsors-card
                a(href=sponsor.website target='_blank')
                  img.all-content-sponsors-card-image(src=`img/sponsors/${sponsor.image}`, alt=`${sponsor.name} logo`)
                .all-content-sponsors-info-wrapper 
                  p.all-content-sponsors-card-project-title #{sponsor.name}
                  .all-content-sponsors-card-socials
                    a(href=sponsor.linkedin target='_blank')
                      img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                    a(href=sponsor.twitter target='_blank')
                      img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
                p.all-content-sponsor-type #{sponsor.type}
        .all-content-sponsors-title Partners
        .all-content-sponsors-card-wrapper  
          .all-content-sponsors-card-container 
            each partner in partners
              .all-content-sponsors-card
                a(href=partner.website target='_blank')
                  img.all-content-sponsors-card-image(src=`img/sponsors/${partner.image}`, alt=`${partner.name} logo`)
                .all-content-sponsors-info-wrapper
                  p.all-content-sponsors-card-project-title #{partner.name}
                  .all-content-sponsors-card-socials
                    if partner.linkedin
                      a(href=partner.linkedin target='_blank')
                        img.all-content-sponsors-card-linkedin(src="img/socials/linkedin_logo.svg", alt="")
                    if partner.twitter
                      a(href=partner.twitter target='_blank')
                        img.all-content-sponsors-card-twitter(src="img/socials/x_logo.svg", alt="")
                p.all-content-sponsor-type #{partner.type}
      .all-content-schedule-wrapper
        .all-content-schedule-text-vector-wrapper
          img.all-content-schedule-vector-wrapper(src="img/schedule/schedule-vector.png", alt="")
          .all-content-schedule-text-wrapper
            p.all-content-schedule-text-1 Schedule
            p.all-content-schedule-text-2 Check out the schedule of Istanbul's most anticipated zero-knowledge-proof community event day. Do not miss any of the speeches or panels!
        .all-content-schedule-timeline-container
          each part in schedule
            .all-content-schedule-timeline-line-container
              .all-content-schedule-timeline-time
                p #{part.time}
                .all-content-schedule-timeline-dot
              .all-content-schedule-timeline-event
                .all-content-schedule-timeline-event-title
                  p #{part.title}
                .all-content-schedule-timeline-event-text 
                  p #{part.text}
          //- .all-content-tba TO BE ANNOUNCED.
      .all-content-location-wrapper.all-content-grandPera-wrapper 
        .all-content-grandPera-text-wrapper 
          .all-content-location-text Location
          .all-content-grandPera-text-1 Grand Pera
          .all-content-grandPera-text-2 Built by the famous architect Alexandre Vallaury in 1882, Grand Pera is located on the Cercle d'Orient building, the heart of Istanbul. Being on the most touristic and busy street of the city, Istiklal, the Cercle d'Orient building hosts Turkey's oldest cinema, Emek Theather.
          .all-content-grandPera-location-wrapper
            svg.all-content-grandPera-location-icon( viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg")
              path(d="M24 4c-7.73 0-14 6.27-14 14 0 10.5 14 26 14 26s14-15.5 14-26c0-7.73-6.27-14-14-14zm0 19c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z" fill="white")
              path(d="M0 0h48v48H0z" fill="none")            
            a.all-content-grandPera-text-2(href="https://www.google.com/maps/place/SALT+Galata/@41.0239214,28.9734887,17z/data=!3m1!4b1!4m6!3m5!1s0x14cab9e8144a79f5:0x616d8eecf6ae3aa6!8m2!3d41.0239214!4d28.9734887!16s%2Fg%2F1tl6nrm5?entry=ttu" target='_blank')  Azapkapı, Bankalar Cd. No:11, 34420 Beyoğlu/İstanbul
        .all-content-grandPera-slide-wrapper(data-carousel)
          button.all-content-grandPera-slide-button-wrapper.all-content-grandPera-slide-button-left(data-carousel-button-left)
              svg.all-content-grandPera-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")    
          ul.all-content-grandPera-slide-image-wrapper(data-slides)
            li.all-content-grandPera-slide-image(data-active)
              img.slide-image(src="img/grandPera/grandPera-1.png", alt="")
            li.all-content-grandPera-slide-image
              img.slide-image(src="img/grandPera/grandPera-2.png", alt="")
            li.all-content-grandPera-slide-image
              img.slide-image(src="img/grandPera/grandPera-3.png", alt="")
            li.all-content-grandPera-slide-image
              img.slide-image(src="img/grandPera/grandPera-4.png", alt="")
            li.all-content-grandPera-slide-image
              img.slide-image(src="img/grandPera/grandPera-5.png", alt="")
          button.all-content-grandPera-slide-button-wrapper.all-content-grandPera-slide-button-right(data-carousel-button-right)
              svg.all-content-grandPera-slide-button-next(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")                                                                                                                            
      .all-footer
        .all-footer-upper 
          .all-footer-upper-text-1 Get your tickets now! Don’t miss the agenda of the 
          .all-footer-upper-text-2 Zero-Knowledge Ecosystem! See you in Cryptİst!
          a.all-content-small-button-wrapper(href='https://lu.ma/cryptist' target='_blank') 
            .all-content-small-button-circle-left
              svg.all-content-small-button-circle-icon-left(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495") 
            .all-content-small-button-circle-right
              svg.all-content-small-button-circle-icon-right(viewBox="0 0 14 18" xmlns="http://www.w3.org/2000/svg")
                path(d="M0.665649 9.06359H13.394M7.65202 17.3523L13.394 11.4896V6.83979L7.65202 0.707495")
            .all-content-small-main-button-wrapper
              button.all-content-small-main-button
                .all-content-small-button-rectangle
                .all-content-small-button-text Get Tickets 
        .all-footer-bottom-wrapper 
          .all-footer-bottom-container 
            .all-footer-bottom-left 
              .all-footer-bottom-left-text-1 CRYPTİST 
              .all-footer-bottom-left-line-shape 
              .all-footer-bottom-left-text-2 Cryptİst is an annual day-long, Zero-Knowledge community event in Istanbul, to learn, connect, share, and make the agenda of the year.
              .all-footer-bottom-left-subscription
            .all-footer-bottom-right
              .all-footer-bottom-right-container 
                .all-footer-bottom-right-line 
                  .all-footer-bottom-right-line-title Pages
                  .all-footer-bottom-right-line-title Contact Us
                .all-footer-bottom-right-line 
                  a.all-footer-bottom-right-line-text#footer-speakers-button(href="") Speakers
                  a.all-footer-bottom-right-line-text(href="https://x.com/cryptistanbul" target='_blank') X/Twitter
                .all-footer-bottom-right-line 
                  a.all-footer-bottom-right-line-text#footer-sponsors-button(href="") Sponsors
                  a.all-footer-bottom-right-line-text(href="https://www.youtube.com/@cryptist5348" target='_blank') YouTube
                .all-footer-bottom-right-line 
                  a.all-footer-bottom-right-line-text#footer-schedule-button(href="") Schedule
                  .all-footer-bottom-right-line-text 
                .all-footer-bottom-right-line 
                  a.all-footer-bottom-right-line-text#footer-location-button(href="") Location
                  .all-footer-bottom-right-line-text 
        .all-footer-info 
          a.all-footer-info-mail-clipboard 
            p.all-footer-info-mail-clipboard-text cryptistanbul@gmail.com
            svg.all-footer-info-mail-clipboard-icon(viewBox="0 0 16 16" fill="#707070" xmlns="http://www.w3.org/2000/svg" width="16" height="16" ) 
              path(d="M14 5V14H5V5H14ZM14 4H5C4.73478 4 4.48043 4.10536 4.29289 4.29289C4.10536 4.48043 4 4.73478 4 5V14C4 14.2652 4.10536 14.5196 4.29289 14.7071C4.48043 14.8946 4.73478 15 5 15H14C14.2652 15 14.5196 14.8946 14.7071 14.7071C14.8946 14.5196 15 14.2652 15 14V5C15 4.73478 14.8946 4.48043 14.7071 4.29289C14.5196 4.10536 14.2652 4 14 4Z" fill="#707070")
              path(d="M2 9H1V2C1 1.73478 1.10536 1.48043 1.29289 1.29289C1.48043 1.10536 1.73478 1 2 1H9V2H2V9Z" )
          .all-footer-info-line 
          .all-footer-info-text-wrapper 
            .all-footer-info-text Design &  develop by node101 © 2023
            .all-footer-info-text © 2023. All Rights Reserved.
